<div class="container">
  <div class="login-body">
    <!-- <form (ngSubmit)="onSubmit(f)" #f> -->
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()" style="width: 60%; margin-right: 35%;">

        <legend style="text-align: center;font-size: 32px;">فرم ورود ...</legend>

        <!-- Username, Email, Phone Section -->
        <div class="form-froup">
          <label for="" class="form-label">نام کاربری، ایمیل و یا شماره همراه</label>
          <input 
                type="name" 
                class="form-control" 
                id="username"
                #username
                ngModel
                name="loginname"
                >
        </div>

        <!-- Password Section -->
        <div class="form-froup">
          <label for="" class="form-label">رمز عبور</label>
          <input 
                type="password" 
                class="form-control" 
                id="password"
                #password
                ngModel
                name="password"
                >
        </div>
        <br>

        <!-- Submit Section -->
        <div class="form-froup">
          <button type="submit" class="btn btn-primary" (click)="loginBTN(username.value, password.value)">ورود</button>
          <br>
          <span>اگر هنوز <label><a routerLink = "/register">ثبت نام</a></label> نکرده اید...</span>
        </div>
        
      </form>
  </div>
</div>
