<div class="container">
  <div class="login-body">
    <form (ngSubmit)="onSubmit(f)" #f>
        <legend style="text-align: center;font-size: 32px;">فرم ورود ...</legend>
        <div class="form-froup">
          <label for="" class="form-label">نام کاربری، ایمیل و یا شماره همراه</label>
          <input 
                type="name" 
                class="form-control" 
                id="username"
                ngModel
                name="loginname"
                >
        </div>
        <div class="form-froup">
          <label for="" class="form-label">رمز عبور</label>
          <input 
                type="password" 
                class="form-control" 
                id="password"
                ngModel
                name="password"
                >
        </div>
        <div class="form-froup">
          <button type="submit" class="btn btn-primary">ورود</button>
          <br>
          <span>اگر هنوز <a routerLink = "/register">ثبت نام</a> نکرده اید...</span>
        </div>
      </form>
  </div>
</div>
