<form [formGroup]="inputForm" (ngSubmit)="onSubmit()" style="width: 60%; margin-right: 35%;">
  <br><br><br>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">نام کاربری</label>
      <input formControlName="username" type="text" ngModel name="username" class="form-control" id="username" #username placeholder="نام کاربری">
      <span class="alert alert-danger"
            *ngIf="!inputForm.controls['username'].valid && inputForm.controls['username'].touched">
              لطفا نام کاربری را وارد کنید!
      </span>
    </div>

    <br>

    <div class="form-group col-md-6">
      <label for="email">ایمیل</label>
      <input formControlName="email" type="email" ngModel name="email" class="form-control" id="email" #email placeholder="ایمیل">
      <span class="alert alert-danger"
            *ngIf="!inputForm.controls['email'].valid && inputForm.controls['email'].touched">
              لطفا ایمیل معتبری را وارد کنید!
      </span>
      <!-- <span class="alert alert-danger"
            *ngIf="!inputForm.controls['email'].valid">
              لطفا ایمیل معتبری را وارد کنید!
      </span> -->
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="phoneNumber">شماره همراه</label>
      <input formControlName="phoneNumber" type="text" ngModel name="phone" class="form-control" id="phoneNumber" #phone placeholder="شماره همراه">
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="password">رمز عبور</label>
      <input formControlName="password" type="password" ngModel name="password" class="form-control" id="password" #password placeholder="رمز عبور">
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="passwordConfirm">تائید رمز عبور</label>
      <input formControlName="passwordConfirm" type="password" ngModel class="form-control" id="passwordConfirm" placeholder="تائید رمز عبور">
    </div>
    
    <br>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click) = "add(username.value, email.value, phone.value, password.value)">ثبت نام</button>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">صفحه ورود</button>
    </div>

  </div>
</form>


<!-- <ul>
  <li [ngModel] *ngFor="let user of users">
      {{user.username}}
  </li>
</ul> -->

<ul>
  <li *ngFor = "let user of users">
    <span>{{user.email}}</span>
  </li>
</ul>