<form [formGroup]="inputForm" style="width: 60%; margin-right: 35%;">
  <br><br><br>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">نام کاربری</label>
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="نام کاربری">
    </div>

    <br>

    <div class="form-group col-md-6">
      <label for="email">ایمیل</label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="ایمیل">
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="phoneNumber">شماره همراه</label>
      <input formControlName="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="شماره همراه">
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="password">رمز عبور</label>
      <input formControlName="password" type="password" class="form-control" id="password" placeholder="رمز عبور">
    </div>

    <br>
    
    <div class="form-group col-md-6">
      <label for="password-confirm">تائید رمز عبور</label>
      <input formControlName="password-confirm" type="password" class="form-control" id="password-confirm" placeholder="تائید رمز عبور">
    </div>
    
    <br>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">ثبت نام</button>&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">صفحه ورود</button>
    </div>

  </div>
</form>